
@import "compass/css3";

@import "compass/css3/transform";

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

body {
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),url(./images/page-background.jpg);
  background-size: cover;
}

/* .game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
} */

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    /* float: center; */
    /* padding: 20px 0px; */
    border: 3px solid black;
    background-image: url(./images/minecraft\ house.jpg);
    background-size: cover;
    /* justify-content: center;
    align-self: center;
    background-repeat: no-repeat;*/
    display:none;
    
}
#end{
display:none;
width: 1000px;
height:700px;
text-align: center;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
align-content: center;
/* background-color: blue; */
align-self: center;
justify-content: center;
background-size: cover;
background-image: url(./images/background.jpg);
}
#play-again{
display: none;
}


.centerBlock {
  text-align:center;
  display: table;
  margin: auto;
}

.ourRow {
  display: flex;
  justify-content: space-around;

  align-items: center;
}
ul{
  display: flex;
  flex-direction: column;
  color : white;
}

h1{
  font-family: 'Bowlby One SC', cursive;
color: #FFEEF2
}